<mat-toolbar class="toolbar">
    <div class="header-container">
        <div class="left-content">
            <div class="image"><img src="/assets/coin_image-modified.jpg" alt="my image"></div>
            <p>SUBATHRA Y</p>
        </div>
        <div class="right-content">
            <ul>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">PROJECT DETAIL</a></li>
                <li>
                        <img src="/assets/suba-logo-nobg.png" alt="my image">
                </li>
            </ul>
        </div>
    </div>
</mat-toolbar>