<!-- your-component.component.html -->
<h1>MY PORTFOLIO</h1>
<div class="box-container">

  <div *ngFor="let box of boxes" class="box" (click)="openModal(box)">
    <!-- Small box content -->
    <div class="small-box">
      <img [src]="box.imageUrl" alt="Box Image">
    </div>
    <span>{{ box.paragraph }}</span>
    <h3>{{ box.heading }}</h3>
  </div>
</div>

<div class="overlay" [class.active]="selectedBox"></div>

<!-- Modal -->
<!-- <div class="dia-container"> -->
<div class="dialog-container" *ngIf="selectedBox">
  <mat-dialog-content>
    <div class="main-dialog-content-div">
      <div>
        <img [src]="selectedBox.imageUrl" alt="Large Image">
      </div>
      <div class="dialog-right">
          <mat-icon  (click)="closeModal()" svgIcon="clear">X</mat-icon>
        <span>{{ selectedBox.heading }}</span>
        <p>{{ selectedBox.paragraph }}</p>
        <button class="button"><a [href]="selectedBox.websiteUrl" target="_blank">Go to the website</a></button>
      </div>
    </div>
  </mat-dialog-content>
</div>
<!-- </div> -->