<html>

<head>
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/addProduct.js"></script>
    <link rel="icon" href="/img/logo1.jpg">
    <link rel="stylesheet" href="/css/gct1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>addAdmin</title>

</head>

<body>
 <div class="header">
        <img src="/img/logo3.jpg">
        <img src="/img/gct1.jpg">
        </div>
        <button id="lo">LOGOUT</button>
    </div>

 <div class="sidebar">
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/admin">ADMIN</a></li>
                <li><a href="/vendor">VENDOR</a></li>
                <li><a href="/user">USER</a></li>
                <li><a href="/product">PRODUCT</a></li>
                <li><a href="add">ADD</a></li>
                <li><a href="/ticket">TICKET</a></li>
            </ul>
        </div>

<div id="side">

    <h1>{{title}}</h1>
    <button id="backBtn">Back</button>
    <br>
    <br>
    <label>NAME</label>
    <input type="text">
    <br>
    <br>
    <label>Vendor</label>
    <select>
        <option>Vendor 1</option>
        <option>Vendor 2</option>
        <option>Vendor 3</option>
    </select>
    <lable>Quantity</lable>
    <input type="number">
    <br>
    <br>
    <label>Category</label>
    <select>
        <option>Dress</option>
        <option>Saree</option>
        <option>Jeans</option>
    </select>
    <label>SubCategory</label>
    <select>
        <option>Women</option>
        <option>Kids</option>
        <option>Childrens</option>
    </select>
    <br>
    <br>
    <label>Price</label>
    <input type="number">
    <label>Status</label>
    <select>
        <option>Out of stock</option>
        <option>Avilable</option>
        <option>Not avilable</option>
    </select>
    <br>
    <br>
    <lable>Description</lable>
    <textarea></textarea>
    <br><br>
    <input  id=btn2 type="submit" value="CREATE">
    <input  id=btn3 type="reset" value="RESET">
</div>
</body>

</html>