<html>

<head>
    <title>forget Page</title>
    <link rel="icon" href="/img/logo1.jpg">
    <link rel="stylesheet" href="/css/forget.css">
    <script src="/js/forget"></script>

</head>

<body>
    <form class="box" method="post">
        <fieldset>
        <h1>Forget Password</h1>
        <input type="text" placeholder="USER NAME">
        <input type="password" placeholder="PASS WORD">
        <input type="password" placeholder="CONFIRM PASSWORD">
        {{!-- <input type="reset" value="Reset" href="/"> --}}
        <a id="a" href="/"><b>Reset</b></a></fieldset>
    </form>
</body>

</html>