<html>

<head>
    <title>login page</title>
    <link rel="icon" href="/img/logo1.jpg">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/login"></script>
</head>

<body>
    <form class="box" method="post">
        <fieldset>
        <h1>LOGIN</h1>
        <input type="text" placeholder="USER NAME">
        <input type="password" placeholder="PASS WORD">
        <div id="cb">
            <input type="checkbox">Show Password
            <br>
            <input type="checkbox">Remember Me
        </div>
        <input type="submit" value="Login">
        <a id="a" href="fwd"><b>Forget Password</b></a>
        <a id="a" href="/reg"><b>Registration</b></a></fieldset>
    </form>
</body>

</html>