<html>

<head>
    <title>registration page</title>
    <link rel="icon" href="/img/logo1.jpg">

    <link rel="stylesheet" href="/css/registration.css">
</head>

<body>
<form class="box" method="post">
    <fieldset>
        <h1>REGISTRATION</h1>
        <input type="text" placeholder="USER NAME">
        <input type="password" placeholder="PASS WORD">
        <input type="password" placeholder="Re-Enter PASSWORD">
        <input type="submit" value="Register">
        <a id="a" href="/"><b>Back To Login Page</b></a></fieldset>
    </form>
</body>

</html>