<app-header  class="app-header"></app-header>
<div class="body-content">
    <div class="right-content">
        <mat-card>
            <mat-card-content>
                <span class="subtitle">WELCOME TO MY WORLD</span>
                <h1 style="font-size: 3.9em;">Hi, I'm <span style="color: #ff014f;">Subathra</span>,</h1>
                <div class="wrapper2">
                    <div class="static-txt">a</div>
                    <ul class="dynamic-txt">
                        <li><span>Software Developer.</span></li>

                        <li><span>Coder.</span></li>
                        <li><span>Fresher.</span></li>

                    </ul>
                </div>
                <span>
                </span>
                <div class="para">
                    <p> A skilled Software Developer well-versed in Angular, and proficient in back-end technologies
                        including Node.js and MongoDB. As a recent graduate, I bring fresh perspectives and a strong
                        foundation in delivering high-quality code for seamless user experiences. Eager to contribute to
                        innovative projects, I offer quick learning abilities, analytical problem-solving skills, and a
                        collaborative approach. Let's build exceptional software solutions together!</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="left-content">
        <mat-card>
            <mat-card-content>
                <div class="container">
                    <div class="wrapper">
                        <div class="wrapper-holder">
                            <div id="slider-img-1"></div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- <div class="find-me">
    <span>
        <p>FIND ME iN</p>
    </span>
    <div >
        <button mat-fab color="primary" #suba aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
    </div>
    <div>
        <button mat-icon-button class="custom-button">
            <mat-icon aria-label="GitHub" class="custom-icon">github</mat-icon>
        </button>
    </div>
    <div>
        <button mat-icon-button class="custom-button">
            <mat-icon aria-label="GitHub" class="custom-icon">github</mat-icon>
        </button>
    </div>
</div> -->
<!-- <mat-divider></mat-divider>     -->
<app-about></app-about>
<app-portfolio></app-portfolio>
<app-contact></app-contact>
<mat-divider></mat-divider>
<app-footer></app-footer>
